In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('GroceryStoreDataSet.csv')
df

                MILK,BREAD,BISCUIT
0    BREAD,MILK,BISCUIT,CORNFLAKES
1              BREAD,TEA,BOURNVITA
2             JAM,MAGGI,BREAD,MILK
3                MAGGI,TEA,BISCUIT
4              BREAD,TEA,BOURNVITA
5             MAGGI,TEA,CORNFLAKES
6          MAGGI,BREAD,TEA,BISCUIT
7              JAM,MAGGI,BREAD,TEA
8                       BREAD,MILK
9   COFFEE,COCK,BISCUIT,CORNFLAKES
10  COFFEE,COCK,BISCUIT,CORNFLAKES
11          COFFEE,SUGER,BOURNVITA
12               BREAD,COFFEE,COCK
13             BREAD,SUGER,BISCUIT
14         COFFEE,SUGER,CORNFLAKES
15           BREAD,SUGER,BOURNVITA
16              BREAD,COFFEE,SUGER
17              BREAD,COFFEE,SUGER
18      TEA,MILK,COFFEE,CORNFLAKES

In [4]:
unique_row_items = []
for index, row in df.iterrows():
    items_series = list(row.str.split(','))
    for item_serie in items_series:
        for item in item_serie:
            if item not in unique_row_items:
                unique_row_items.append(item)
    


unique_row_items

['BREAD',
 'MILK',
 'BISCUIT',
 'CORNFLAKES',
 'TEA',
 'BOURNVITA',
 'JAM',
 'MAGGI',
 'COFFEE',
 'COCK',
 'SUGER']

In [5]:
df_apriori = pd.DataFrame(columns=unique_row_items)

df_apriori

Empty DataFrame
Columns: [BREAD, MILK, BISCUIT, CORNFLAKES, TEA, BOURNVITA, JAM, MAGGI, COFFEE, COCK, SUGER]
Index: []

In [6]:
for index, row in df.iterrows():
    items = str(row[0]).split(',')
    
    one_hot_encoding = np.zeros(len(unique_row_items),dtype=int)
    for it in items:
        for i,column in enumerate(df_apriori.columns):
            
            if it == column:
                one_hot_encoding[i] = 1
    df_apriori.at[index] = one_hot_encoding

In [7]:
df_apriori

   BREAD MILK BISCUIT CORNFLAKES TEA BOURNVITA JAM MAGGI COFFEE COCK SUGER
0      1    1       1          1   0         0   0     0      0    0     0
1      1    0       0          0   1         1   0     0      0    0     0
2      1    1       0          0   0         0   1     1      0    0     0
3      0    0       1          0   1         0   0     1      0    0     0
4      1    0       0          0   1         1   0     0      0    0     0
5      0    0       0          1   1         0   0     1      0    0     0
6      1    0       1          0   1         0   0     1      0    0     0
7      1    0       0          0   1         0   1     1      0    0     0
8      1    1       0          0   0         0   0     0      0    0     0
9      0    0       1          1   0         0   0     0      1    1     0
10     0    0       1          1   0         0   0     0      1    1     0
11     0    0       0          0   0         1   0     0      1    0     1
12     1    0       0          0   0         0   0     0      1    1     0
13     1    0       1          0   0         0   0     0      0    0     1
14     0    0       0          1   0         0   0     0      1    0     1
15     1    0       0          0   0         1   0     0      0    0     1
16     1    0       0          0   0         0   0     0      1    0     1
17     1    0       0          0   0         0   0     0      1    0     1
18     0    1       0          1   1         0   0     0      1    0     0

In [9]:
df_apriori=df_apriori.astype('int')

In [10]:
from mlxtend.frequent_patterns import apriori, association_rules

In [21]:
freq_items = apriori(df_apriori , min_support = 0.2, use_colnames = True, verbose = 1)

Processing 18 combinations | Sampling itemset size 3

In [22]:
df_association_rules = association_rules(freq_items, metric = "confidence", min_threshold = 0.4)
df_association_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(TEA),(BREAD),0.368421,0.631579,0.210526,0.571429,0.904762,-0.022161,0.859649
1,(SUGER),(BREAD),0.315789,0.631579,0.210526,0.666667,1.055556,0.011080,1.105263
2,(COFFEE),(CORNFLAKES),0.421053,0.315789,0.210526,0.500000,1.583333,0.077562,1.368421
3,(CORNFLAKES),(COFFEE),0.315789,0.421053,0.210526,0.666667,1.583333,0.077562,1.736842
4,(MAGGI),(TEA),0.263158,0.368421,0.210526,0.800000,2.171429,0.113573,3.157895
5,(TEA),(MAGGI),0.368421,0.263158,0.210526,0.571429,2.171429,0.113573,1.719298
6,(COFFEE),(SUGER),0.421053,0.315789,0.210526,0.500000,1.583333,0.077562,1.368421
7,(SUGER),(COFFEE),0.315789,0.421053,0.210526,0.666667,1.583333,0.077562,1.736842